@import "../../styles/partials/resets";
@import "../../styles/partials/variables";
@import "../../styles/partials/breakpoints";
@import "../../styles/partials/fonts";

.hero {
  & video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include tablet {
      width: 95.5%;
      background: black;
      padding: 0 24px;
    }
    @include desktop {
      width: 72%;
      height: 100%;
      padding: 0 180px;
    }
  }

  &__playicon {
    padding: 5px 15px;
    background-color: $primary-color;
    position: relative;
    bottom: 45px;
    left: 15px;
  }
  &__fullscreenicon {
    background: url("../../assets/Icons/SVG/Icon-fullscreen.svg");
  }
  &__volumeicon {
    padding: 6.55px 15px;
    background-color: $primary-color;
    position: relative;
    bottom: 46px;
    right: -185px;
  }
}

.comments {
  box-sizing: border-box;
  padding: 2rem 1rem 2.5rem 1rem;
  font-family: "AvenirDemiBold";
  font-size: 16px;
  @include tablet {
    padding-left: 24px;
    padding-right: 24px;
    font-size: 1rem;
  }
  @include desktop {
    padding: 48px 155px 40px 155px;
  }
  &__heading {
    font-family: "AvenirDemiBold";
    padding-bottom: 2rem;
    @include tablet {
      font-size: 1.5rem;
      padding-bottom: 2rem;
    }
  }
  &__text {
    font-family: "AvenirRegular";
    font-size: 10px;
    margin: 0 0 4px 18.75vw;
    opacity: 0.5;
    @include tablet {
      margin: 0 0 4px 10.75vw;
      font-size: 12px;
    }
    @include desktop{
      margin: 0 0 4px 7.25vw;
    }
  }
  &__form {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding-bottom: 24px;
    border-bottom: 2px solid $border-color;
    @include tablet {
      padding-bottom: 0;
    }
    @include desktop{
      width: 70%;
    }
    &__button {
      width: 70vw;
      height: 3rem;
      border: none;
      font-size: 12px;
      font-family: "AvenirRegular";
      font-size: 1rem;
      border-radius: 4px;
      color: #ffffff;
      margin-left: 16px;
      background-color: $background-color;
      @include tablet {
        width: 160px;
        height: 52px;
        float: right;
        margin: 0 40px 0 16px;
      }
      @include desktop{
        width: 130px;
        margin: 0 0 0 16px;
      }
    }
  }
  textarea {
    width: 63.75vw;
    height: 75px;
    border: 1px solid $border-color;
    box-shadow: 1px 1px 1px $border-color;
    border-radius: 6px;
    line-height: 18px;
    font-family: "AvenirRegular";
    padding: 9px;
    margin: 0 0 16px 16px;
    font-size: 13px;
    &:focus {
      outline: 0;
      border: 2px solid $background-color;
    }
    @include tablet {
      font-size: 14px;
      padding: 1rem;
      width: 50.25vw;
      height: 18px;
    }
    @include desktop{
      width: 30.25vw;
      height: 18px;
    }
  }
  ::placeholder {
    color: $primary-color;
  }
}

.comments__section {
  font-size: 0.75rem;
  font-family: "AvenirRegular";
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 24px 0;
  border-bottom: 2px solid $border-color;
  line-height: 18px;
  @include tablet {
    font-size: 1rem;
    width: 100%;
    justify-content: flex-start;
  }
  @include desktop{
    width: 70%;
  }
  &__image {
    margin-right: 16px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background: lightgray;
  }
  &__text {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    font-size: 0.75rem;
    @include tablet {
      font-size: 14px;

      width: 100%;
    }
    &--inline {
      width: 100%;
      padding-bottom: 14px;
      display: flex;
      justify-content: space-between;
      @include tablet {
        justify-content: flex-start;
        line-height: 22px;
      }
      & h3 {
        width: 70%;
        @include tablet {
          font-family: "AvenirDemiBold";
          width: max-content;
          margin-right: 20px;
          font-size: 1rem;
        }
      }
      & p {
        position: relative;
        top: 2px;
        opacity: 0.5;
      }
    }
    &--opacity {
      opacity: 0.7;
    }
  }
}
