@import "../../styles/partials/resets";
@import "../../styles/partials/variables";
@import "../../styles/partials/breakpoints";
@import "../../styles/partials/fonts";

.video {
  padding: 0 16px;
  &__header {
    font-family: "AvenirDemiBold";
    font-size: 1.25rem;
    line-height: 22px;
  }
  &__channel {
    margin-top: 16px;
    display: flex;
    font-family: "";
    align-items: center;
    & h5 {
      margin: 0 8px 32px 0;
    }
    & p {
      font-size: 0.75rem;
      margin: 0 0 32px 0;
      opacity: 0.5;
    }
  }
  &__views {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }
  &__icon--views {
    background: url("../../assets/Icons/SVG/Icon-views.svg");
    height: 16px;
    width: 22px;
    display: inline-block;
    margin-right: 8px;
  }
  &__icon--like {
    background: url("../../assets/Icons/SVG/Icon-likes.svg");
    height: 16px;
    width: 17px;
    display: inline-block;
    margin: 0 8px 0 16px;
  }
}
