.sidevideo {
  padding: 0 16px 0 16px;
  
  &__container{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
  }

  & img {
    margin-right: 16px;
    border-radius: 4px;
    width: 120px;
    height: 70px;
  }
}
